parameters:
  level: 10
  paths:
    - src/

  bootstrapFiles:
    - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php

  ignoreErrors:
    # WP-CLI specific ignores
    - '#Call to static method .* on an unknown class WP_CLI#'
    # Missing deps
    - '#Call to static method is_module_active\(\) on an unknown class Fern\\Core\\Services\\SEO\\Jetpack#'
    # False positives
    - '#Parameter .* expects list<.*>, array<.*> given\.#'
    # WP_DEBUG_LOG can be a string path at runtime, but php-stubs models it as bool-only.
    - message: '#Call to function is_string\(\) with bool will always evaluate to false#'
      path: src/Logger/Logger.php

  dynamicConstantNames:
    - WP_CLI
    - WP_DEBUG_LOG
